<div class="panel cookieaccept">
	<div class="inner"><span class="corners-top"><span></span></span>
	<form id="agreement" action="{A_XIR_COOKIE}" method="post">
		<fieldset class="submit-buttons xir_cookie_button">
			<button type="submit" class="button1" id="agreed" name="xir_cookie_choise" value="{V_XIR_COOKIE_ACCEPT}">{L_XIR_COOKIE_ACCEPT}</button>
			<button type="submit" class="button2" id="agreed" name="xir_cookie_choise" value="{V_XIR_COOKIE_REFUSE}">{L_XIR_COOKIE_REFUSE}</button>
		</fieldset>
	</form>
	<span class="corners-bottom"><span></span></span></div>
</div>